body{
    width: 600px;
    height:auto;
    background-color:#ECE5DD;
}
.container{
    position: relative;
    background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
    background-attachment: fixed;
    left: 74.6%;
    border: 0.1px inset rgba(0, 0, 0, 0.315);
    height: auto;
}
.head{
    height: 60px;
    width: 600px;

    position: relative;
    top:0;
    left: 30%;
    position: fixed;
    background-color: #075e54;
}
.backbtn{
    background: transparent;
    border: none;
    outline: none;
    position: absolute;
    top: 10px;
    left: 5px;

}
.backbtn:hover{
    opacity: 50%;
}
.input-send{
    left:31%;
    position: fixed;
    top: 43.5rem;
}
.input-send input{
    width: 450px;
    height: 35px;
    border-radius: 26px;
    border: none;
    outline: none;
  
    
   
}
#propic{
    background-image: url("https://i.pinimg.com/originals/44/ce/2c/44ce2cfa6267fde44790205135a78051.jpg");
    outline: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: relative;
    left: 50px;
    top: 8px;
}

.sendbtn img{
    width: 40px;
    height: 40px;
    position: absolute;
    right: -3rem;
    bottom: 0rem;
}
#videocall{
    position: absolute;
    top: .8rem;
    left: 23rem;
}
#voicecall{
    position: absolute;
    top: .6rem;
    left: 28rem;
}
#dot{
    position: absolute;
top: 0.8rem;
left: 32rem;
}
h3{
    border-width: 8px;
    margin-left: 100px;
    background-color: #cdecb6;
    width: fit-content;
    word-break: break-all;
    max-width: 200px;
    padding: 15px;
}
